<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>

        <!-- fontawesome  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- css  -->
         <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <main class="chat-container">

            <div id="app">
    
                <div class="chatContainer">
                    <header class="headerContainer headerContainerLeft">
                        <div >
                            <img class="imageChat" src="img/avatar_io.jpg" alt="">
                            <span> Sofia</span>
        
                        </div>
        
                        <div class="iconeFooter">
                            <span><i class="fa-solid fa-circle-notch"></i></span>
                            <span><i class="fa-solid fa-message"></i></span>
                            <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
    
                            
                        </div>
        
                    </header>
    
                    <section>
    
                        <div>
                            <div class="notifiche" >
                                <div>
                                    <div class="iconeMicrophone"><i class="fa-solid fa-bell-slash"></i></div>
                                    <div class="notificheActive">
                                        <div> Ricevi notifiche di nuovi messaggi</div>
                                        <a href="#">Attività notifiche dekstop</a>
            
                                    </div>
        
                                </div>
            
                            </div>
        
        
                            <div class="searchContact">
                                <div>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <input type="text" placeholder="Cerca o inizia una nuova cha">
        
                            </div>
                        </div>
                    </section>
        
                    <main class="mainContainerChatleft ">
    
    
                        <div @click="chatActive(index)" v-for="(contact, index) in contacts" class="containerChat" 
                            :class="{
                                'active' : index == activeContactIndex
                            }">
                            <div class="imageContainer">
                                <img class="imageChat" :src="contact.avatar" :alt="contact.name">
    
                            </div>
                            <div class="footerChatContact">
                                <span> {{contact.name}}</span>
                                <div>Ultimo messaggio inviato</div>
    
                            </div>
                            <div class="clock">
                                12:00
                            </div>
        
                        </div>
        
                    </main>
        
                </div>
        
                <div class="chatActiveContainer">
                    <header class="headerContainer">
                        <div >
                            <img class="imageChat" src="img/avatar_1.jpg" alt="">
                            <div class="footerChatContact">
                                <span> Michele</span>
                                <div>Ultimo Accesso oggi alle ore 12:00</div>
    
                            </div>
        
                        </div>
        
                        <div class="iconeFooter">
                            <span><i class="fa-solid fa-magnifying-glass"></i></span>
                            <span><i class="fa-solid fa-paperclip"></i></span>
                            <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
    
                            
                        </div>
        
                    </header>
                    
                    <main class="mainContainerChatRight">
                        <!-- v-for="(messaggio, indexMessage) in item.messages" :key="indexItem" -->
                        <div v-for="(item, indexItem) in contacts[activeContactIndex].messages" class="messaggeContainer"
                        :class="item.status == 'sent' ? 'sent' : 'received'"
                        >
                            <div  class="messaggeItem">
                                {{item.message}}
                                <div class="timeMessage">
                                    {{item.date}}
                                </div>
                            </div>
    
                        </div>
    
                        <!-- <div class="messaggeContainer sent">
                            <div class="messaggeItem">
                                Ricordati di stendere i panni
                                <div class="timeMessage">
                                    16:15
                                </div>
                            </div>
    
                        </div>
    
                        <div class="messaggeContainer received">
                            <div class="messaggeItem">
                                Tutto fatto!
                                <div class="timeMessage">
                                    16:15
                                </div>
                            </div>
    
                        </div> -->
        
                    </main>
        
                    <footer class="footerChatRight">
                        <div class="iconeFooterChat">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
    
                        <div class="inputMessagge">
                            <input @keyup.enter="pushNewMessage(activeContactIndex)"
                            v-model="newMessage" 
                            type="text" placeholder=" Scrivi un messaggio">
                        </div>
    
                        <div class="iconeFooterChat">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
        
                    </footer>
                    
                </div>
    
            </div>
            
        </main>
        
        
        
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>